.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--header-z-index);
    background-color: var(--alternate-background-color);
    transition: transform var(--duration);
    box-shadow: 0 5px 5px var(--box-shadow);
    height: var(--header-height);

    &.fixed {
        transform: translateY(-100%);

        @media (max-width: 1024px) {
            transform: translateX(0%);
        }
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height var(--duration);
    height: 100%;

    @media (max-width: 576px) {}
}

.row {
    display: flex;
    max-width: 100%;

}

.left {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    >:first-child {
        display: flex;
        align-items: center;
        margin-bottom: 17px;
    }
}

@mixin navLinkIcon {
    @include linkOpicity;
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 20px;
    margin-right: 6px;
    color: var(--text-color);


    svg {
        display: block;
        width: 17px;
        height: 17px;
        margin-right: 6px;
    }
}

@mixin linkOpicity {
    transition: opacity var(--duration);
    opacity: 1;

    &:hover {
        opacity: 0.7;
    }
}